@model CityTravel.Web.UI.Models.AddStopViewModel
@{
    ViewBag.Title = "AddStop";
}
<script src="@Url.Content("https://maps.googleapis.com/maps/api/js?v=3&libraries=places&libraries=drawing&sensor=false&amp;key=ABQIAAAAp_RSJHSrOLSFwByjon74phSLsVbxq6dHeoLR1QV_qRgT4PSTrxTO-51YuK0iLyZz1OS01WSr1iR5EA")"type="text/javascript"> </script>
<script src="@Url.Content("~/Scripts/engine.js")"  type="text/javascript"> </script>
@{
    SquishIt.JavaScript.Add("~/Scripts/engine_#.js");
}
<script type="text/javascript">
    $(document).ready(function() {
        Engine.initStop();
    });
</script>

<div class="addroute_map" id="googleMap" style="width: 840px; height: 500px; display: inline-block;" ></div>
<div class="AddStopFields">
    @using (Html.BeginForm())
    {
        <fieldset>
            @Html.ValidationSummary(true) 
            <div class="editor-label">
                @Html.LabelFor(model => model.Type)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(m => m.Selected, Model.Type, new { @id = "type" })
                <div class="err_div">
                    @Html.ValidationMessageFor(model => model.Type, "", new { @style = "color:red" })
                </div>
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                <div class="err_div">
                    @Html.ValidationMessageFor(model => model.Name, "", new { @style = "color:red" })
                </div>
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.StopGeography)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.StopGeography)
                <div class="err_div">
                    @Html.ValidationMessageFor(model => model.StopGeography, "", new { @style = "color:red" })
                </div>
            </div>
            <input type="submit" value="Добавить остановку" />
        </fieldset>
        
        @Html.ActionLink("Обновить связи", "RefreshRelationsInDatabase")
    }
    
</div>

